@charset "ISO-8859-1";
html {
	padding: 0;
	margin: 0;
    width: 100%;
    height: 100%;
	
}

body {
	padding: 0;
	margin: 0;
    width: 100%;
    height: 100%;
	font-family: 'Roboto'; 
	font-size: 32px;
	 height : 100%;
	color: white;
	overflow:auto;
	
}

.font {
	font-family: 'Roboto Mono';
	font-size: 32px;
	padding-top:3%;
	padding-left:5%;
}
 #main
{
	background: url("img/MainBG.jpg"); 
} 
/* Whole Screen */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-size:100% 100%;
	 width:100%;
	}

span {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Roboto Mono';
	font-weight: bold;
}

input[type=email] {
	background: transparent; border-top : transparent !important;
	border-left : transparent !important; border-right : transparent
	!important;
	border-bottom: 1px solid !important;  padding-left : 0;
	outline: none;
	border-top: transparent !important;
	border-left: transparent !important;
	border-right: transparent !important; border-bottom : 1px solid white
	!important;
	padding-left: 0;
	font-size: 24px;
	width:250px;
	color: white;
}

input[type=email]:focus {
	border-bottom: 4px solid white
	!important;
}

a {
	text-decoration: none;
}



.topnav {
	display: inline-block;
	text-align: right;
	position: fixed;
	background-color: black;
	overflow: hidden;
	width: 100%;
	left:0;
	top:0;
	/*font-weight: bold;*/
	/* padding-left: 60%; */
/*  float: right;  */
	}

.topnav a {
	display: inline-block;
	padding-left: 80%;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
	/* font-size: 20px; */
	/*text-align: right;*/
	/*float: right;*/
}

/* Hide the link  */
.topnav .icon {
	display: none;
}
/*For Mobile display*/
@media screen and (max-width: 600px) {
	
	.topnav {
		float: left;
	}
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: inline-block;
	}
	

	.topnav.responsive {
		position: relative;
		padding-left: 70%;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.send_me {
		font-size: 15px;
	}
	
	
}

.parallax1 {
	
	 background-image: url("img/BG01.jpg");
	background-repeat: no-repeat;
    background-size:100% 100%;
	
	margin-top: -20px;
	padding-top: 5%;
	padding-right: 45%;
	text-align: justify;
	background-attachment: fixed; 
	background-position: center;
	background-size: cover; 
	padding-left:3%;
	
	
}
.parallax2 {
 background-image: url("img/BG02.jpg"); 
	background-repeat: no-repeat;
	 background-size:100% 100%;
	color: white;
	text-align: justify;
	margin-top: -32px;
	padding-top: 5%;
	padding-right: 45%;
    background-attachment: fixed;
	background-size: cover; 
	padding-left:3%;
	
	
}

.parallax3 {
	 background-image: url("img/BG03.jpg") ;
	 background-repeat: no-repeat;
	 background-attachment: absolute;
  background-size: cover; 
	 background-size:100% 100%;
	margin:0;
	color: white;
	text-align: justify;
	  margin-top: -32px; 
	padding-top: 5%;
	padding-right: 45%; 
	padding-left:3%;
	
	/*  padding-left: 3%;  */
	
}

/*Signup*/
#signup {
/* 	width:500px; */
    position : fixed;
	font-size: 32px;
    line-height: 0.9em;
 	padding-left: 60%;
	padding-top:25%;
	font-family: 'Roboto Mono';
	border-color:white;
	border-width: medium;
	
	/* font-weight:bold; */
	/*background: url("img/BG01.jpg");
	background-repeat: no-repeat;
	background-size: 100%;*/
	/*  right: 60px; */
}
.signup
{
	border-style: groove;
	 border-color: White; 
	border-width: medium;
	height: 190px;
	padding:10px 10px 40px 20px;
	
}

 #signup a {
	align-items: right;
}
 
.send_me {
	color: white;
	font-size: 24px; 
	border: 1px solid white;
	padding:6px 6px 6px 6px;
	align-self: right;
}

.send_me:hover {
	border: 5px solid white;
}
small
{
	font-size: 24px;
	 
}

.contact
{
padding-top:10%;
padding-left:8%;
padding-right:8%;
margin:0;
text-align:left;

background-color: black;
background-size: 100% 100%;
height: 400px;

}






