/*
    Created on : Jun 16, 2018
    Author     : Mohit Sarangal
*/

@import "bootstrap.min.css";
@import "font-awesome.min.css";
@import "jquery-ui.css";
@import "slick-theme.css";
@import "slick.css";
@import "simplelightbox.min.css";
@import "magnific-popup.css";

@font-face {
    font-family: 'museo-light';
    src: url('../fonts/museo-light.otf');
}
@font-face {
    font-family: 'museo-regular';
    src: url('../fonts/museo-regular.otf');
}
@font-face {
    font-family: 'museo-bold';
    src: url('../fonts/museo-bold.otf');
}

body{
    /* font-family: museo-light; */
   font-family:   'Roboto'!important;
    margin: 0;
    padding: 0;

   /* background-color: #6C3483; */
    font-size: 18px;
     /* background: #222; */
      /* background-color:#05182d; */
      /* overflow: hidden;  */

}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}


p{
    color: white;
    font-size: 15px;
}
/*Common Style Start Here*/
.bordered-heading-outer {
    text-align: center;
}
.bordered-heading {
    color:white;
    border-top: 1px solid #FFA500;
    display: inline-block;
    border-bottom: 1px solid #FFA500;
    /* margin: 0; */
    padding: 10px 0;
    font-family:  'Abril Fatface'!important; */
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
}
.bordered-heading-outer {
    text-align: center;
    margin-bottom: 50px;
}
.sec-outer {
    padding: 50px 0;
}
.services-sec-outer .grid-colum-align .col-md-4:nth-child(3n + 1) {
    clear: both;
}
.grid-colum-align .about-pabbel-outer .col-md-6:nth-child(2n + 1) {
    clear: both;
}
/*Common Style End Here*/

/*Fixed Header Start Here*/
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all .3s ease-in-out;
}
.header-main.fixed{
    padding: 0;
    transition: all.3s ease-in;

}
/*Fixed Header End Here*/
/*Header Style Start Here*/
.navigation-bar-outer .navbar-inverse {
    background-color: black;
    border: none;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 24px;
    padding: 0 0;
}
.navbar-inverse .navbar-nav>li {
    padding: 0 12px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: orange;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: orange ;
    background-color: transparent;
}
.navbar-nav {
    float: right;
}
.header-main {
padding: 10px;
font-family:'Acme';
background-color: black;
position: fixed;
color: white ;
}

.logo-style {
    font-size: 32px;
    text-decoration: none;
    color:white;
}
.logo-style:hover,.logo-style:focus, .logo-style:active  {
    color: orange ;
    text-decoration: none;
}
.navigation-bar-outer {
    margin-top: 15px;
}
/*Header Style End Here*/

/*Banner Style Start Here*/
.banner-sec-outer {
    height: calc(100vh - 55px);
    background-size: cover;
    background-position: center center;
    display: table;
    width: 100%;
    padding: 30px;
    position: relative;
}
.banner-tittles {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.banner-lined-heading {
     /* border-top: 1px solid  #FFA500;
     border-bottom: 1px solid # #FFA500!important; */
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    font-family:  'Abril Fatface';
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.banner-lined-heading-outer {
    margin: 20px 0;
}
.banner-medium-heading {
    margin: 0;
    font-size: 30px;
    color: #010101;
    font-weight: bold;
}
.banner-des-outer {
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    color:white;
    font-size: 18px!important;
}
.banner-des-text
{
  color:white;
  font-size: 18px;
   z-index: -99;
}


@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 10px, 0); }
}
/*Banner Style End Here*/


/*About Style Start Here*/
.yellow-bg{

    padding: 50px 0;
}

.about-left-pannel:after {
    content: "";
    box-shadow: 35.355px 35.355px 50px 0px rgba(157, 157, 157, 0.3);
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 2;
    width: 70px;
    height: 100%;
}
.about-des-pannel-outer {
    padding: 50px 30px;
    position: relative;
    min-height: 312px;
}
.no-padding{
    padding-left: 0;
}
.about-des-main{
    color:white;
}
.about-des-main .bordered-heading-outer{
    text-align: left;
    margin-bottom: 30px;
}
.about-image {
    min-height: 300px;
    object-fit: cover;
}
/*About Style End Here*/



/*Contact Us Style Start Here*/
.contact-icon {
    float: left;
    width: 50px;
}
.contact-des-pannel {
    float: left;
    width: calc(100% - 50px);
    margin-top: 15px;
}
.contact-pannel {
    float: left;
    width: 100%;
}
.contact-icon {
    color:white;
    font-size: 40px;
}
.contact-text {
    margin: 0;
    width: 50%;
}
.contact-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.contact-link:hover,.contact-link:focus,.contact-link:active {
    text-decoration: none;
    color: #FFA500;
}
.contact-us-form-outer {
    width: 100%;
    float: left;
    background: #fff;
    padding: 50px;
    margin-bottom: 50px;
}
.call-back-input {
    border-radius: 0;
    min-height: 50px;
    border: 1px solid #6C3483 ;
    color: #010101;
}
.call-back-input::placeholder {
    color: #010101;
    opacity: 1;
}
.mg-textarea {
    min-height: 150px;
    resize: vertical;
}
.call-back-input:focus {
    border-color: #010101;
    outline: 0;
    box-shadow: none;
}
.contact-btn{
    border-radius: 0;
}
.contact-btn:hover, .contact-btn:focus, .contact-btn:active{
    background-color:orange  !important;
}
.contact-bar-outer p{
    margin: 0;
}
/*Contact US Style End Here*/

/*Footer Style Start Here*/

.footer-main {
    padding: 15px;
    text-align: center;
}
.copyright-text {
    margin-top: 5px;
}
.copyright-text p {
    margin: 0;
    color: #fff;
  text-decoration: none;
  position: relative;
}

/*Footer Style End Here*/

/*Back To Top Style Start Here*/
.back-to-top {
    background-color:orange ;
    bottom: 20px;
    color: #010101;
    cursor: pointer;
    display: none;
    font-size: 14px;
    font-family: museo-regular;
    opacity: 0.98;
    padding: 9px;
    position: fixed;
    right: 20px;
    text-decoration: none;
    z-index: 9;
    border: 1px solid #fff;
}
.back-to-top:hover,.back-to-top:focus, .back-to-top:active  {
    color: #010101;
    text-decoration: none;
    opacity: 0.85;
}
/*Back To Top Style End Here*/


@media screen and (max-width: 991px) and (min-width: 768px) {
    .navbar-inverse .navbar-nav>li {
        padding: 0 5px;
    }
    .navbar-inverse .navbar-nav>li>a {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
    .bordered-heading {
        font-size: 25px;
        position: relative;
    }


}
@media screen and (max-width: 767px) and (min-width: 320px) {
 /* .header-main
{
  position: relative;
}
.logo-outer
{
 position: fixed;
} */
    .about-left-pannel:after {
        position: relative;
    }
    .no-padding {
        padding-left: 15px;
    }
    .about-des-pannel-outer:after {
        position: relative;
    }
    .about-des-main {
        margin-top: 0;
    }
    .about-pabbel-outer{
        margin-bottom: 30px;
    }
    .bordered-heading {
        font-size: 25px;
        position: relative;
    }
    p {
        color: white;
        font-size: 14px;
    }

    .about-image {
        min-height: 100%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .about-des-pannel-outer {
        min-height: 100%;
    }

    .banner-lined-heading {
        font-size: 25px;
        letter-spacing: 2px;
    }
    .banner-medium-heading {
        margin: 0;
        font-size: 25px;
    }
    .banner-sec-outer {
        height: 100%;
        min-height: 600px;
    }
    .nav>li>a {
        padding: 10px 30px;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: orange ;

    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color:orange  ;
    }
    .navbar-inverse .navbar-toggle {
        border-color: orange  ;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color:orange ;
    }
    .navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar{
        background-color: orange ;
    }
    .navbar-toggle {
        border-radius: 0;
    }
  .navigation-bar-outer {
        margin-top: -10px;
    }  /*
    .navbar-nav {
        float: none;
    } */
    .navbar-inverse .navbar-nav>li {
        padding: 4px 12px;
    }

}

/* .drop-cap::first-letter {
  font-weight: bold;
  color: red;
} */
